code_kestra.yaml
id: pipeline_sport_p12
namespace: sport_data_solution

description: >
  Pipeline d'automatisation pour le calcul des primes et des jours de congés pour les employés sportifs.

tasks:
  - id: start
    type: io.kestra.plugin.core.log.Log
    message: "Démarrage du workflow Sport Data Solution"

  - id: ingestion_all
    type: io.kestra.plugin.scripts.shell.Commands     # On utilise le plugin "shell.Commands" pour lancer des commandes Linux
    taskRunner:
      type: io.kestra.plugin.core.runner.Process     # Le runner PROCESS exécute les commandes directement sur le système contrairement a DOCKER qui execute sur docker
    retry:
      type: constant
      maxAttempt: 3
      interval: PT30S
    commands:
      - mkdir -p data       # Création du dossier "data", -p évite une erreur si le dossier existe
      - cp /data/sport_data_solution/Donnees_RH.xlsx data/rh.xlsx     # Copie du fichier Rh depuis le répertoire source vers le dossier de travail
      - cp /data/sport_data_solution/Donnees_Sportive.xlsx data/sportive.xlsx     # Copie du fichier sportive
      - echo "Taille des fichiers :"      # Affichage d’un message pour la lisibilité des logs
      - echo "$(ls -lh data/)"            # Affiche les fichiers avec leur taille pour vérifier qu'ils ont bien été copiés
    outputFiles:
      - data/rh.xlsx       # Déclaration des fichiers de sortie, Kestra pourra les réutiliser dans les tasks suivantes
      - data/sportive.xlsx

  - id: check_data
    type: io.kestra.plugin.scripts.python.Script    # Utilisation d’un script Python
    taskRunner:
      type: io.kestra.plugin.core.runner.Process
    inputFiles:
      rh.xlsx: "{{ outputs.ingestion_all.outputFiles['data/rh.xlsx'] }}"        # Fichiers d’entrée récupérés depuis l’étape "ingestion_all"
      sportive.xlsx: "{{ outputs.ingestion_all.outputFiles['data/sportive.xlsx'] }}"        # Kestra injecte les fichiers dans le répertoire de travail du script
    # Script Python exécuté par la tâche
    script: |
      import pandas as pd 
      from pathlib import Path

      # Dictionnaire des fichiers, Chaque fichier reçoit un nom logique pour simplifier leur traitement.
      files = {
          "RH": Path("rh.xlsx"),
          "SPORTIVE": Path("sportive.xlsx"),
      }

      # Parcours et analyse simple
      for name, path in files.items():
          print(f"\n===== {name} =====")    # Affiche le nom du fichier
          print("Path:", path.resolve())    # Affiche le chemin absolu du fichier

          # Lecture du fichier Excel, Boucle sur chaque élément du dictionnaire (chaque fichier)
          df = pd.read_excel(path)

          # Affichage des 5 premières lignes
          print("\n--- HEAD ---")
          print(df.head())

          # Affichage de la structure
          print("\n--- STRUCTURE ---")
          print(df.info())

          # Valeurs manquantes
          print("\n--- VALEURS MANQUANTES ---")
          print(df.isnull().sum())

          # Doublons
          print("\n--- DOUBLONS ---")
          print(df.duplicated().sum())

  - id: create_config_parameters
    type: io.kestra.plugin.jdbc.postgresql.Queries
    url: jdbc:postgresql://postgres:5432/kestra
    username: kestra
    password: k3str4
    sql: |

      CREATE TABLE IF NOT EXISTS poc_config_parameters (
        param_name TEXT PRIMARY KEY,
        value FLOAT
      );

      DELETE FROM poc_config_parameters;

      INSERT INTO poc_config_parameters (param_name, value) VALUES
      ('prime_rate', 0.05),
      ('min_activities', 15),
      ('max_walk_km', 15),
      ('max_bike_km', 25);

  - id: create_raw_tables
    type: io.kestra.plugin.jdbc.postgresql.Queries
    url: jdbc:postgresql://postgres:5432/kestra
    username: kestra
    password: k3str4
    sql: |

      CREATE TABLE IF NOT EXISTS poc_rh_raw (
        id_salarie INTEGER,
        nom TEXT,
        prenom TEXT,
        date_naissance DATE,
        bu TEXT,
        date_embauche DATE,
        salaire_brut INTEGER,
        type_contrat TEXT,
        nb_cp INTEGER,
        adresse TEXT,
        moyen_deplacement TEXT
      );

      CREATE TABLE IF NOT EXISTS poc_sportive_raw (
        id_salarie INTEGER,
        sport TEXT
      );
          
  - id: load_raw_tables
    type: io.kestra.plugin.scripts.python.Script
    taskRunner:
      type: io.kestra.plugin.core.runner.Process
    inputFiles:
      rh.xlsx: "{{ outputs.ingestion_all.outputFiles['data/rh.xlsx'] }}"
      sportive.xlsx: "{{ outputs.ingestion_all.outputFiles['data/sportive.xlsx'] }}"
    script: |
      import pandas as pd
      from sqlalchemy import create_engine

      # connexion postgres
      engine = create_engine("postgresql+psycopg2://kestra:k3str4@postgres:5432/kestra")

      # lecture fichiers
      df_rh = pd.read_excel("rh.xlsx")
      df_sport = pd.read_excel("sportive.xlsx")

      # renommage colonnes pour correspondre aux tables SQL
      df_rh.columns = [
          "id_salarie",
          "nom",
          "prenom",
          "date_naissance",
          "bu",
          "date_embauche",
          "salaire_brut",
          "type_contrat",
          "nb_cp",
          "adresse",
          "moyen_deplacement"
      ]

      df_sport.columns = [
          "id_salarie",
          "sport"
      ]

      print("RH rows:", len(df_rh))
      print("SPORT rows:", len(df_sport))

      # insertion dans postgres if_exists="replace" pour remplacer et if_exists="append" pour ajouter
      df_rh.to_sql("poc_rh_raw", engine, if_exists="replace", index=False)
      df_sport.to_sql("poc_sportive_raw", engine, if_exists="replace", index=False)

      print("Insertion terminée")


  - id: test_poc_rh_raw
    type: io.kestra.plugin.scripts.python.Script
    taskRunner:
        type: io.kestra.plugin.core.runner.Process
    script: |
        import pytest
        import pandas as pd
        from sqlalchemy import create_engine
        import sys
        import subprocess

        test_code = '''import pandas as pd
        from sqlalchemy import create_engine

        def test_poc_rh_raw():
            engine = create_engine("postgresql+psycopg2://kestra:k3str4@postgres:5432/kestra")
            df = pd.read_sql("SELECT * FROM poc_rh_raw", engine)
            
            errors = []

            # Valeurs manquantes
            missing = df.isnull().sum()
            if missing.sum() > 0:
                print("Valeurs manquantes détectées :")
                print(missing[missing > 0])
                errors.append(f"Valeurs manquantes: {missing[missing > 0].to_dict()}")

            # Doublons
            duplicates = df.duplicated()
            if duplicates.sum() > 0:
                print("Doublons détectés :")
                print(df[duplicates])
                errors.append(f"Doublons: {duplicates.sum()}")
            
            # Salaire positif
            invalid_salaire = df[df["salaire_brut"] <= 0]
            if not invalid_salaire.empty:
                print("Salaire négatif ou nul détecté :")
                print(invalid_salaire)
                errors.append("salaire_brut ≤ 0")

            # Nombre de congés positif ou égal à 0
            invalid_cp = df[df["nb_cp"] < 0]
            if not invalid_cp.empty:
                print("Nombre de congés négatif détecté :")
                print(invalid_cp)
                errors.append("nb_cp < 0")

            # Cohérence des dates : naissance ≤ date_embauche - 18 ans
            invalid_dates = df[
                pd.to_datetime(df["date_naissance"]).dt.date > (pd.to_datetime(df["date_embauche"]).dt.date - pd.to_timedelta(18*365, unit='d'))
            ]
            if not invalid_dates.empty:
                print("Incohérence de dates (âge < 18 ans à l'embauche) détectée :")
                print(invalid_dates)
                errors.append("date_naissance trop récente / âge < 18 ans à l'embauche")

            assert not errors, f"Tests échoués : {errors}"'''

        with open("tmp_test_poc_rh_raw.py", "w") as f:
            f.write(test_code)

        result = subprocess.run([sys.executable, "-m", "pytest", "tmp_test_poc_rh_raw.py", "-v"], check=False)

        if result.returncode != 0:
            raise Exception("Le test pytest a échoué")

  - id: test_poc_sportive_raw
    type: io.kestra.plugin.scripts.python.Script
    taskRunner:
        type: io.kestra.plugin.core.runner.Process
    script: |
        import pytest
        import pandas as pd
        from sqlalchemy import create_engine
        import sys
        import subprocess

        test_code = '''import pandas as pd
        from sqlalchemy import create_engine

        def test_poc_sportive_raw():
            engine = create_engine("postgresql+psycopg2://kestra:k3str4@postgres:5432/kestra")
            df = pd.read_sql("SELECT * FROM poc_sportive_raw", engine)
            
            errors = []

            # id_salarie non NULL
            invalid_id = df[df["id_salarie"].isnull()]
            if not invalid_id.empty:
                print("id_salarie NULL détecté :")
                print(invalid_id)
                errors.append("id_salarie NULL")

            # Doublons
            duplicates = df.duplicated()
            if duplicates.sum() > 0:
                print("Doublons détectés :")
                print(df[duplicates])
                errors.append(f"Doublons: {duplicates.sum()}")

            assert not errors, f"Tests échoués : {errors}"'''

        with open("tmp_test_poc_sportive_raw.py", "w") as f:
            f.write(test_code)

        result = subprocess.run([sys.executable, "-m", "pytest", "tmp_test_poc_sportive_raw.py", "-v"], check=False)

        if result.returncode != 0:
            raise Exception("Le test pytest a échoué")
    
  - id: create_rh_enriched_table
    type: io.kestra.plugin.jdbc.postgresql.Query
    url: jdbc:postgresql://postgres:5432/kestra
    username: kestra
    password: k3str4
    sql: |

      CREATE TABLE IF NOT EXISTS poc_employees_enriched (
        id_salarie INTEGER,
        nom TEXT,
        prenom TEXT,
        adresse TEXT,
        moyen_deplacement TEXT,
        distance_km FLOAT,
        declaration_valide BOOLEAN
      );

  - id: distances_domicile_travail
    type: io.kestra.plugin.scripts.python.Script
    taskRunner:
      type: io.kestra.plugin.core.runner.Process
    script: |
      import pandas as pd
      import requests
      import time
      import os
      from sqlalchemy import create_engine

      API_KEY = os.getenv("ORS_API_KEY")

      entreprise = "1362 Av. des Platanes, 34970 Lattes"

      print("Connexion à PostgreSQL...")
      engine = create_engine("postgresql+psycopg2://kestra:k3str4@postgres:5432/kestra")

      print("Lecture des données RH...")
      df = pd.read_sql("SELECT * FROM poc_rh_raw", engine)

      print("Lecture des paramètres...")
      params = pd.read_sql("SELECT * FROM poc_config_parameters", engine)

      param_dict = dict(zip(params["param_name"], params["value"]))

      max_walk_km = param_dict["max_walk_km"]
      max_bike_km = param_dict["max_bike_km"]

      print("Paramètres chargés :")
      print("max_walk_km =", max_walk_km)
      print("max_bike_km =", max_bike_km)

      print(f"{len(df)} salariés à traiter")

      cache = {}

      def geocode(adresse, retries=3):

          if adresse in cache:
              return cache[adresse]

          url = "https://api.openrouteservice.org/geocode/search"
          params = {"api_key": API_KEY, "text": adresse}

          for i in range(retries):

              try:
                  r = requests.get(url, params=params).json()

                  time.sleep(0.2)   # pause API

                  if r["features"]:
                      coords = r["features"][0]["geometry"]["coordinates"]
                      result = (coords[1], coords[0])
                      cache[adresse] = result
                      return result

              except Exception as e:
                  print(f"Erreur géocodage {adresse} tentative {i+1}: {e}")
                  time.sleep(2)

          return (None, None)


      print("Géocodage de l'adresse de l'entreprise...")

      lat_ent, lon_ent = geocode(entreprise)

      if lat_ent is None:
          raise Exception("Impossible de géocoder l'adresse de l'entreprise")

      print(f"Coordonnées entreprise : {lat_ent}, {lon_ent}")


      def distance(adresse):

          lat1, lon1 = geocode(adresse)

          if None in [lat1, lon1, lat_ent, lon_ent]:
              return None

          url = "https://api.openrouteservice.org/v2/directions/driving-car"
          headers = {"Authorization": API_KEY}
          body = {"coordinates": [[lon1, lat1], [lon_ent, lat_ent]]}

          for i in range(3):

              try:
                  r = requests.post(url, json=body, headers=headers).json()

                  time.sleep(0.2)   # pause API

                  if "routes" in r:
                      return r["routes"][0]["summary"]["distance"] / 1000

              except Exception as e:
                  print(f"Erreur distance tentative {i+1}: {e}")
                  time.sleep(2)

          return None


      rows = []

      print("Calcul des distances domicile-travail...")

      for i, row in df.iterrows():

          if i % 10 == 0:
              print(f"{i} salariés traités...")

          dist_km = None
          valide = False

          try:

              dist_km = distance(row["adresse"])

              transport = str(row["moyen_deplacement"]).lower()

              if "marche" in transport or "running" in transport:
                  valide = dist_km is not None and dist_km <= max_walk_km

              elif "vélo" in transport or "trottinette" in transport:
                  valide = dist_km is not None and dist_km <= max_bike_km

          except Exception as e:
              print(f"Erreur pour salarié {row['id_salarie']} : {e}")

          rows.append({
              "id_salarie": row["id_salarie"],
              "nom": row["nom"],
              "prenom": row["prenom"],
              "adresse": row["adresse"],
              "moyen_deplacement": row["moyen_deplacement"],
              "distance_km": dist_km,
              "declaration_valide": valide
          })


      print("Transformation en DataFrame final...")
      df_out = pd.DataFrame(rows)

      print("Insertion dans PostgreSQL...")

      df_out.to_sql(
          "poc_employees_enriched",
          engine,
          if_exists="replace",
          index=False
      )

      print("Toutes les distances calculées et table mise à jour")

  - id: create_sport_activity_table
    type: io.kestra.plugin.jdbc.postgresql.Queries
    url: jdbc:postgresql://postgres:5432/kestra
    username: kestra
    password: k3str4
    sql: |

      CREATE TABLE IF NOT EXISTS poc_sport_activity (
          id_activite SERIAL PRIMARY KEY,
          id_salarie INTEGER,
          date_debut TIMESTAMP,
          type_sport TEXT,
          distance_m INTEGER,
          duree_min INTEGER,
          commentaire TEXT
      );
        



  - id: generate_sport_activity
    type: io.kestra.plugin.scripts.python.Script
    taskRunner:
      type: io.kestra.plugin.core.runner.Process
    script: |
      import pandas as pd
      import random
      from datetime import datetime, timedelta
      from sqlalchemy import create_engine
      from faker import Faker

      # Initialisation Faker
      fake = Faker("fr_FR")

      print("Connexion PostgreSQL...")
      engine = create_engine("postgresql+psycopg2://kestra:k3str4@postgres:5432/kestra")

      print("Lecture des salariés sportifs...")
      df = pd.read_sql("SELECT * FROM poc_sportive_raw WHERE sport IS NOT NULL", engine)

      activities = []
      today = datetime.now()

      sports_distance = ["runing","randonnée","vélo","triathlon","natation"]

      moods = [
          "Motivation au top",
          "Super sensations",
          "Fatigué mais content",
          "Belle sortie",
          "Très bonne énergie"
      ]

      weather = [
          "Sous le soleil",
          "Malgré la pluie",
          "Avec un peu de vent",
          "Temps parfait pour le sport"
      ]

      print("Génération des activités...")

      for _, row in df.iterrows():
          id_salarie = row["id_salarie"]
          sport = row["sport"]
          sport_lower = sport.lower()
          nb_activities = random.randint(5, 30)

          for _ in range(nb_activities):
              # Date et heure aléatoires
              random_days = random.randint(0, 365)
              date = today - timedelta(days=random_days)
              hour = random.randint(6, 21)
              minute = random.randint(0, 59)
              date_debut = date.replace(hour=hour, minute=minute, second=0)

              distance_m = None
              duree_min = random.randint(5, 120)

              # Si sport avec distance, générer distance réaliste et ajuster durée
              if sport_lower in sports_distance:
                  if sport_lower == "runing":
                      distance_m = random.randint(3000, 15000)
                  elif sport_lower == "randonnée":
                      distance_m = random.randint(5000, 25000)
                  elif sport_lower == "vélo":
                      distance_m = random.randint(5000, 80000)
                  elif sport_lower == "triathlon":
                      distance_m = random.randint(30000, 70000)
                  elif sport_lower == "natation":
                      distance_m = random.randint(500, 3000)
                  duree_min = int(distance_m / 200)

              # Décider aléatoirement s'il y a un commentaire (30% des cas = aucun)
              if random.random() < 0.3:
                  commentaire = None
              else:
                  # Choisir un template selon distance/durée
                  if distance_m:
                      km = distance_m / 1000
                      if km < 3:
                          template = fake.random_element([
                              "Petite sortie de {sport} : {distance:.1f} km en {duree} min. 💪",
                              "{distance:.1f} km de {sport} parcourus rapidement en {duree} min. 😎"
                          ])
                      elif km < 10:
                          template = fake.random_element([
                              "Séance de {sport} de {distance:.1f} km en {duree} min. 🔥",
                              "Super {sport} aujourd'hui : {distance:.1f} km en {duree} min ! ⚡"
                          ])
                      else:
                          template = fake.random_element([
                              "Grosse sortie de {sport} : {distance:.1f} km en {duree} min. 🏅",
                              "Performance record : {distance:.1f} km de {sport} en {duree} min ! 💪"
                          ])
                      commentaire = template.format(sport=sport_lower, distance=km, duree=duree_min)
                  else:
                      # Sports sans distance
                      if duree_min < 20:
                          template = fake.random_element([
                              "Petite séance de {sport} pendant {duree} min. 💪",
                              "Courte séance de {sport} de {duree} min. 😃"
                          ])
                      elif duree_min < 60:
                          template = fake.random_element([
                              "Bonne séance de {sport} : {duree} min bien efficaces. 🔥",
                              "{duree} min de {sport}, super séance ! ⚡"
                          ])
                      else:
                          template = fake.random_element([
                              "Grosse séance de {sport} : {duree} min d'effort intense ! 🏅",
                              "Longue séance de {sport} pendant {duree} min, top performance ! 💪"
                          ])
                      commentaire = template.format(sport=sport_lower, duree=duree_min)

                  # Ajouter mood et météo seulement si commentaire existe
                  commentaire += f" {fake.random_element(moods)}. {fake.random_element(weather)}."

              activities.append({
                  "id_salarie": id_salarie,
                  "date_debut": date_debut,
                  "type_sport": sport,
                  "distance_m": distance_m,
                  "duree_min": duree_min,
                  "commentaire": commentaire
              })

      df_out = pd.DataFrame(activities)

      print(f"{len(df_out)} activités générées")

      # Supprimer les anciennes données
      with engine.begin() as conn:
          conn.exec_driver_sql("TRUNCATE TABLE poc_sport_activity RESTART IDENTITY;")

      # Insérer les nouvelles données
      df_out.to_sql(
          "poc_sport_activity",
          engine,
          if_exists="append",
          index=False
      )

      print("Insertion terminée")






  - id: create_sport_activity_clean_table
    type: io.kestra.plugin.jdbc.postgresql.Queries
    url: jdbc:postgresql://postgres:5432/kestra
    username: kestra
    password: k3str4
    sql: |

      DROP TABLE IF EXISTS poc_sport_activity_clean;

      CREATE TABLE poc_sport_activity_clean AS

      SELECT
        id_activite,
        id_salarie,
        date_debut,
        type_sport,
        distance_m,
        duree_min,
        commentaire

      FROM poc_sport_activity

      WHERE
        id_salarie IS NOT NULL
        AND type_sport IS NOT NULL
        AND duree_min > 0
        AND (distance_m IS NULL OR distance_m >= 0)
        AND date_debut::date <= CURRENT_DATE
        AND date_debut::date >= (CURRENT_DATE - INTERVAL '1 year')::date;

  - id: test_poc_sport_activity_clean
    type: io.kestra.plugin.scripts.python.Script
    taskRunner:
        type: io.kestra.plugin.core.runner.Process
    script: |
        import pytest
        import pandas as pd
        from sqlalchemy import create_engine
        from datetime import datetime
        from dateutil.relativedelta import relativedelta
        import sys
        import subprocess

        # Création d'un fichier temporaire pour le test pytest
        test_code = '''import pandas as pd
        from sqlalchemy import create_engine
        from datetime import datetime
        from dateutil.relativedelta import relativedelta

        def test_poc_sport_activity_clean():
            engine = create_engine("postgresql+psycopg2://kestra:k3str4@postgres:5432/kestra")
            df = pd.read_sql("SELECT * FROM poc_sport_activity_clean", engine)

            today = datetime.now().date()
            min_date = today - relativedelta(years=1)
            errors = []

            # id_salarie null
            invalid_id = df[df["id_salarie"].isnull()]
            if not invalid_id.empty:
                print("id_salarie NULL détecté :")
                print(invalid_id)
                errors.append("id_salarie null")

            # type_sport null
            invalid_sport = df[df["type_sport"].isnull()]
            if not invalid_sport.empty:
                print("type_sport NULL détecté :")
                print(invalid_sport)
                errors.append("type_sport null")

            # distance négative
            invalid_distance = df[df["distance_m"].notnull() & (df["distance_m"] < 0)]
            if not invalid_distance.empty:
                print("distance négative détectée :")
                print(invalid_distance)
                errors.append("distance negative")

            # conversion des dates
            dates = pd.to_datetime(df["date_debut"]).dt.date

            # date dans le futur
            invalid_future = df[dates > today]
            if not invalid_future.empty:
                print("date_debut dans le futur :")
                print(invalid_future)
                errors.append("date future")

            # date trop ancienne
            invalid_old = df[dates < min_date]
            if not invalid_old.empty:
                print("date_debut trop ancienne :")
                print(invalid_old)
                errors.append("date trop ancienne")

            assert not errors, f"Tests échoués : {errors}"'''

        # Sauvegarde dans un fichier temporaire
        with open("tmp_test_poc_sport_activity_clean.py", "w") as f:
            f.write(test_code)

        # Lancement de pytest sur ce fichier
        result = subprocess.run([sys.executable, "-m", "pytest", "tmp_test_poc_sport_activity_clean.py", "-v"], check=False)

        # Si pytest échoue, on arrête le workflow
        if result.returncode != 0:
            raise Exception("Le test pytest a échoué")

  - id: create_fact_prime_sportive
    type: io.kestra.plugin.jdbc.postgresql.Queries
    url: jdbc:postgresql://postgres:5432/kestra
    username: kestra
    password: k3str4
    sql: |

      DROP TABLE IF EXISTS poc_fact_prime_sportive;

      CREATE TABLE poc_fact_prime_sportive AS

      SELECT
        rh.id_salarie,
        rh.salaire_brut,

        CASE
          WHEN emp.declaration_valide = TRUE THEN TRUE
          ELSE FALSE
        END AS eligible_prime,

        CASE
          WHEN emp.declaration_valide = TRUE
          THEN rh.salaire_brut * (
            SELECT value
            FROM poc_config_parameters
            WHERE param_name = 'prime_rate'
          )
          ELSE 0
        END AS montant_prime

      FROM poc_rh_raw rh

      LEFT JOIN poc_employees_enriched emp
        ON rh.id_salarie = emp.id_salarie;

  - id: create_fact_bien_etre
    type: io.kestra.plugin.jdbc.postgresql.Queries
    url: jdbc:postgresql://postgres:5432/kestra
    username: kestra
    password: k3str4
    sql: |

      DROP TABLE IF EXISTS poc_fact_bien_etre;

      CREATE TABLE poc_fact_bien_etre AS

      WITH activity_count AS (
        SELECT
          id_salarie,
          COUNT(*) AS nb_activites
        FROM poc_sport_activity_clean
        GROUP BY id_salarie
      )

      SELECT
        rh.id_salarie,

        COALESCE(ac.nb_activites, 0) AS nb_activites,

        CASE
          WHEN COALESCE(ac.nb_activites, 0) >= (
            SELECT value
            FROM poc_config_parameters
            WHERE param_name = 'min_activities'
          )
          THEN TRUE
          ELSE FALSE
        END AS eligible_bien_etre

      FROM poc_rh_raw rh

      LEFT JOIN activity_count ac
        ON rh.id_salarie = ac.id_salarie;

  - id: create_kpi_global
    type: io.kestra.plugin.jdbc.postgresql.Queries
    url: jdbc:postgresql://postgres:5432/kestra
    username: kestra
    password: k3str4
    sql: |

      DROP TABLE IF EXISTS poc_kpi_global;

      CREATE TABLE poc_kpi_global AS

      SELECT
        rh.id_salarie,
        rh.nom,
        rh.prenom,
        rh.salaire_brut,

        emp.distance_km,
        emp.declaration_valide,

        prime.eligible_prime,
        prime.montant_prime,

        be.nb_activites,
        be.eligible_bien_etre

      FROM poc_rh_raw rh

      LEFT JOIN poc_employees_enriched emp
        ON rh.id_salarie = emp.id_salarie

      LEFT JOIN poc_fact_prime_sportive prime
        ON rh.id_salarie = prime.id_salarie

      LEFT JOIN poc_fact_bien_etre be
        ON rh.id_salarie = be.id_salarie;

